<mat-toolbar color="primary">
    <a [routerLink]="['/']" class="logo">
        <img src="assets/brandr-logo.svg" class="logo" rel="logo" alt="brandr logo"/>
    </a>

    <a mat-button [routerLink]="['/']" routerLinkActive="mat-raised-button mat-accent" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a mat-button [routerLink]="['/api']" routerLinkActive="mat-raised-button mat-accent">BRANDr API</a>
    <a mat-button href="https://github.com/ScientaNL/brandr-api" target="_blank">GitHub project</a>
</mat-toolbar>
