a.logo {
    height: 100%;
    display: block;
    padding: 1rem 1em 1rem 0;

    box-sizing: border-box;

    > img {
        height: 100%;
    }
}

a {
    color: white;
    text-decoration: none;
}
