:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100vh;
}

header {
    flex: 0 0 auto;
    background: red;
}

.app {
    flex: 1 1 auto;
}

footer {
    flex: 0 0 auto;
    display: flex;

    padding: 2em 1em;
    justify-content: space-between;
    align-items: center;

    > * {
        flex: 0 0 33.3%;
        text-align: center;

        &:first-child {
            text-align: left;
        }

        &:last-child {
            text-align: right;
        }
    }

    background: rgba(black, 0.87);
    color: white;
    font-size: .85em;

    span {
        &:before, &:after {
            content: '\00a0\00a0';
        }

        padding: 0;
    }

    img {
        height: 1em;
        vertical-align: middle;
    }

    abbr {
        border-bottom: 1px dotted rgba(255, 255, 255, .2);
        text-decoration: none;
        cursor: help;
    }
}
